@use '../tokens/utils/tokenUtils' as *;

.acr-wrapTop-79f-12-2-0 {
  transition: color $ACCORDION_TRANSITION_DURATION $ACCORDION_TRANSITION_EASING;
}

.acr-iconActive-d9e-12-2-0 {
  transform: rotate(180deg);
}


@keyframes acr-fadeInUp-eb1-12-2-0 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
